<html>
  <head>
    <title> Mini Wiki - Upload Image </title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script type = "text/javascript" src = "../public/Preview_Image.js"> </script>
  </head>
  <body>
    <div class = "nav_container">
      <nav>
      <img class = "image_logo" src = "../public/images/Logo.png" alt = "Logo"> 
      <div id="navbar_options">
        <ul class="navbar_list">
          <li class = "nav_container_li"><a href=" uploadImage">Upload</a></li>
          <li class = "nav_container_li"><a href ="/">Home</a></li>
        </ul>
        <form class="nav_seach_article="search" method='post' action="/search/">
        </form>
      </div>
      </nav>
    </div>   

    <div class="upload_image_container">
      <form  action = "/submitImage" method='post'>
        Name selected image: <input type = "text" id = "selected_image" name = "selected_image">
        <input type = "submit" id = submit_button value = "Submit" class = "btn_submit_image"> 
        <input type = "file" id = "my_image" name = "selected_image" accept = "image/" onchange = "previewFile()">
      </form>
      <img src = "" height = "200" class = "image_preview" alt = "Image Preview">
    </div>
  </body>
</html>
